@media (max-width: 850px) {
    .acordeon .ilustracao{
        width: 180px;
        height: 180px;
        left: 1rem;
    }
}

@media (max-width: 670px) {
    .acordeon{
        width: 70%;
    }

    .acordeon .ilustracao{
        display: none;
    }

    .acordeon .conteudo {
        width: 90%;
        padding-left: 3rem;
    }
    
}