body {
    font-family: "Roboto", sans-serif;
}

html {
    background-color: #E5E5E5;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.acordeon {
    width: 40.9375rem;
    min-height: 21.6875rem;
    box-shadow: 0 1.6875rem 3.0625rem -1.5625rem rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
    position: relative;
}

.acordeon .ilustracao {
    position: absolute;
    left: -5.625rem;
    width: 17.375rem;
    height: 18.3125rem;
}

.acordeon .conteudo {
    width: 90%;
    padding-left: 14.0625rem;
}

.acordeon .conteudo h1 {
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
}

.acordeon .items {
    list-style-type: none;
}

.acordeon .items .item {
    cursor: pointer;
    background-image: url(../images/seta_fechada.png);
    background-repeat: no-repeat;
    background-position: top 0.5rem right 0;
    background-size: 0.75rem;
    border-bottom: 0.0625rem solid #ccc;
    margin: 0.625rem 0;
}

.acordeon .items .item:last-child {
    border-bottom: none;
}

.acordeon .items .item .pergunta {
    padding-bottom: 0.9375rem;
    transition: 0.2s ease;
    font-size: 1.0625rem;
    width: 90%;
    font-weight: 500;
}

.item .pergunta:hover {
    color: #f47c57;
}

.resposta {
    display: none;
    padding-bottom: 0.9375rem;
    font-size: 0.9375rem;
    font-weight: 300;
}

/* ESTILOS DE ITEM DE acordeon ATIVO */

.acordeon .items .item.ativo h2 {
    font-weight: 700;
    font-size: 1.0625rem;
}

.acordeon .items .item.ativo .resposta {
    display: block;
}

.acordeon .items .item.ativo {
    background-image: url(../images/seta_aberta.png);
}